services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: user-tasks-sql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourStrong!Passw0rd123"
    ports:
      - "1433:1433"
